body { 
		scrollbar-3dlight-color:#959595;
		scrollbar-arrow-color:595959;
		scrollbar-base-color:FFFFFF;
		scrollbar-darkshadow-color:FFFFFF;
		scrollbar-face-color:CFCFCF;
		scrollbar-highlight-color:FFFFF;
		scrollbar-shadow-color:#848284
 	}




body,table,td,tr,select,input,textarea,file    {font-size:12px ; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma; color:#525252; letter-spacong: -1px; word-spacing: -2px;}
a:link       {font-size:12px ; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#525252 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
a:visited  {font-size:12px ; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#525252 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
a:active   {font-size:12px ; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#F9490F ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}
a:hover    {font-size:12px ; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#F9490F ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}



.text1                 {font-size:12px ; line-height:16px; font-family:µ¸¿ò, verdana,Tahoma; color:#000000;}
.text1   a:link       {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#000000; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text1   a:visited  {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#000000; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text1   a:active   {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#000000; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text1   a:hover    {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#000000; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}


.text2                 {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#FFFFFF;}
.text2   a:link       {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#FFFFFF; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text2   a:visited  {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#FFFFFF; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text2   a:active   {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#FFFFFF; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text2   a:hover    {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#FFFFFF; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}



.text3                 {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#C5C5C5;}
.text3   a:link       {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#C5C5C5; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text3   a:visited  {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#C5C5C5; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text3   a:active   {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#C5C5C5; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text3   a:hover    {font-size:11px ; font-weight:bold; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#C5C5C5; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}



.text4                 {font-size:11px ; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#000000;}
.text5                 {font-weight:bold; font-size:12px ; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#F9490F; letter-spacong: -1px; word-spacing: -2px;}
.text6                 {font-size:12px ; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#78FF00; letter-spacong: -1px; word-spacing: -2px;}
.text7                 {font-size:12px ; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#0BDDDD; letter-spacong: -1px; word-spacing: -2px;}
.text8                 {font-size:12px ; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#F5DE0A; letter-spacong: -1px; word-spacing: -2px;}
.text9                 {font-size:12px ; line-height:16px; font-family:verdana, Tahoma, µ¸¿ò; color:#F9490F; letter-spacong: -1px; word-spacing: -2px;}

.text_body                 {font-size:12px ; line-height:18px; font-family:µ¸¿ò, verdana,Tahoma; color:#C5C5C5; letter-spacong: -1px; word-spacing: -2px;}






.text_bold1                 {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:µ¸¿ò, verdana,Tahoma; color:#FA8000; letter-spacong: -1px; word-spacing: -2px;}
.text_bold1   a:link       {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text_bold1   a:visited  {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text_bold1   a:active   {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}
.text_bold1   a:hover    {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}



.text_bold2                 {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:µ¸¿ò, verdana,Tahoma; color:#D7011B; letter-spacong: -1px; word-spacing: -2px;}
.text_bold2   a:link       {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text_bold2   a:visited  {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#D7011B ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text_bold2   a:active   {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#D7011B ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}
.text_bold2   a:hover    {font-weight:bold; font-size:12px ; font-weight:bold; line-height:16px; font-family:verdana, µ¸¿ò, Tahoma ; color:#D7011B ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}



.text_small1                 {font-size:11px ; line-height:14px; font-family:µ¸¿ò, verdana,Tahoma; color:#868686; letter-spacong: -1px; word-spacing: -2px;}
.text_small1   a:link       {font-size:11px ; line-height:14px; font-family:verdana, µ¸¿ò, Tahoma ; color:#868686 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text_small1   a:visited  {font-size:11px ; line-height:14px; font-family:verdana, µ¸¿ò, Tahoma ; color:#868686 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text_small1   a:active   {font-size:11px ; line-height:14px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}
.text_small1   a:hover    {font-size:11px ; line-height:14px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}



.text_small2                 {font-size:11px ; line-height:14px; font-family:µ¸¿ò, verdana,Tahoma; color:#FA8000; letter-spacong: -1px; word-spacing: -2px;}
.text_small2   a:link       {font-size:11px ; line-height:14px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text_small2   a:visited  {font-size:11px ; line-height:14px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:none; letter-spacong: -1px; word-spacing: -2px;}
.text_small2   a:active   {font-size:11px ; line-height:14px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}
.text_small2   a:hover    {font-size:11px ; line-height:14px; font-family:verdana, µ¸¿ò, Tahoma ; color:#FA8000 ; text-decoration:underline; letter-spacong: -1px; word-spacing: -2px;}


.text1                        {font-size:12px ; line-height:14px; font-family:verdana,µ¸¿ò, Tahoma; color:#868686; letter-spacong: -1px; word-spacing: -2px;}
.text_color                 {font-size:12px ; line-height:14px; font-family:µ¸¿ò, verdana,Tahoma; color:#D7011B; letter-spacong: -1px; word-spacing: -2px;}
.text_color2                 {font-weight:bold; font-size:12px ; line-height:14px; font-family:µ¸¿ò, verdana,Tahoma; color:#D7011B; letter-spacong: -1px; word-spacing: -2px;}
.text_color3                 {font-weight:bold; font-size:12px ; line-height:14px; font-family:µ¸¿ò,verdana, Tahoma; color:#D7011B; letter-spacong: -1px; word-spacing: -2px;}
.text_color4                 {font-weight:bold; font-size:12px ; line-height:14px; font-family:verdana,µ¸¿ò,Tahoma; color:#D7011B; letter-spacong: -1px; word-spacing: -2px;}
.text_color5                 {font-size:12px ; line-height:14px; font-family:verdana,µ¸¿ò, Tahoma; color:#D7011B; letter-spacong: -1px; word-spacing: -2px;}


.text_small                 {font-size:11px ; line-height:14px; font-family:µ¸¿ò, verdana,Tahoma; color:#868686; letter-spacong: -1px; word-spacing: -2px;}
.text_small_color1       {font-size:11px ; line-height:14px; font-family:µ¸¿ò, verdana,Tahoma; color:#FA8000; letter-spacong: -1px; word-spacing: -2px;}
.text_small_color2       {font-size:11px ; line-height:14px; font-family:µ¸¿ò, verdana,Tahoma; color:#D7011B; letter-spacong: -1px; word-spacing: -2px;}
.text_small_color3       {font-size:11px ; line-height:14px; font-family:verdana,µ¸¿ò, Tahoma; color:#D7011B; letter-spacong: -1px; word-spacing: -2px;}
.text_small_line           {font-size:11px ; font-family:µ¸¿ò, verdana,Tahoma; color:#c7c7c7; padding:2px 7px 0px 7px; align:center;}




.input1     {font-weight:bold; font-size: 12px; color: #F9490F;  font-family: verdana,µ¸¿ò, Tahoma; height:22px; border: 1px solid #C7C7C7; padding:2px;}
.input2     {font-size: 12px; color: #C5C5C5;  font-family: verdana,µ¸¿ò, Tahoma; height:22px; border: 1px solid #6C6C6C; padding:2px; background-color:rgb(76,76,76);}
.textarea1  { font-size: 12px; color: #C5C5C5;  font-family: verdana,µ¸¿ò, Tahoma; border: 1px solid #6C6C6C;  padding:5pt; background-color:rgb(76,76,76);}

.input_login     { font-size: 12px; color: #868686;  font-family: µ¸¿ò, verdana,Tahoma; height:22px; border: 1px solid #C8251E; padding:3px;}
.input_box       { font-size: 12px; color: #868686;  font-family: µ¸¿ò,verdana,Tahoma; height:22px; border: 1px solid #ffffff;}
.textarea_basic  { font-size: 12px; color: #868686;  font-family: µ¸¿ò,verdana,Tahoma; border: 1px solid #D3D3D3;  padding:5pt;}


.img_board    {border:1px solid #E2E2E2;}
img  { border:0px; }



.line1 { height:1px; background-color:#3E3E3E; }
.line2 { height:1px; background-color:#C6FF93; }
.line3 { height:1px; background-color:#EEEEEE; }
.line4 { height:1px; background-color:#F9490F; }
.line5 { height:1px; background-color:#E8E8E8; }
.line6 { height:1px; background-color:#F5F5F5; }
.line7 { height:1px; background-color:#EAEAEA; }
