<!-- #include virtual="/_Common/Config/CommonCS.asp"-->
<!-- #include virtual="/_Common/Lib/Request.class.asp"-->
<!-- #include virtual="/_Common/Lib/DBConn.class.asp"-->
<!-- #include virtual="/_Common/Lib/DBCmdSql.class.asp"-->
<!-- #include virtual="/_Common/Lib/Pager.Class.asp"-->
<!-- #include virtual="/_Common/Lib/StringUtil.class.asp"-->
<!-- #include virtual="/_Common/API/Injection.COM/injection.class.asp"-->
<!-- #include virtual="/_Common/API/BlockIP.COM/BlockIPSql.class.asp"-->
<!-- #include virtual="/_Common/Api/AdminCheck.COM/AdminChk.asp"-->
<!-- #include virtual="/Seller/05_Account/_Sql/accountSql.Class.asp"-->
<!-- #include virtual="/_Global/DbCono.asp" -->



<%
    page            = dfStringUtil.F_initNumericParam(Trim(dfRequest.Value("page")), 1, 1, 9999999)
	pageSize = 500
	PGSIZE = 100
    sStartDate  = REQUEST("sStartDate")
    sEndDate = REQUEST("sEndDate")
    Search = Trim(REQUEST("Search"))
	Find = Trim(REQUEST("Find"))
	site        = SESSION("rJOBSITE")

    IF REQUEST("sStartDate") <> "" AND REQUEST("sEndDate") <> "" Then
        sStartDate =  REQUEST("sStartDate") & " 00:00:00"
        sEndDate =  REQUEST("sEndDate") & " 23:59:59"  
        pageSize = 500                  
    End IF
    
    IF (Search = "LAC_ID" And Find <> "") Then
        sStartDate = ""
        sEndDate = ""    
        page        = 1
        pageSize    = 999999
    End IF
    
    '######### 디비 연결                    ################	
    dfDBConn.SetConn = Application("DBConnString")
	dfDBConn.Connect()	

	'######### 충전 내역을 볼러옴                 ################	
	IA_SITE = Session("rJOBSITE")
	SQLLIST2 = "select top 1 * from info_admin where ia_site = '"&Session("rJOBSITE")&"'"
	SET RS2 = DBCON.EXECUTE(SQLLIST2)

	IA_LEVEL = RS2("IA_LEVEL")
	IA_GROUP = RS2("IA_GROUP")
	IA_GROUP1 = RS2("IA_GROUP1")
	IA_GROUP2 = RS2("IA_GROUP2")
	IA_GROUP3 = RS2("IA_GROUP3")
	IA_GROUP4 = RS2("IA_GROUP4")
	IA_Type = RS2("IA_Type")
	RS2.CLOSE
	SET RS2 = Nothing
	If IA_LEVEL = "2" THEN
		Call dfAccountSql.RetrieveLog_AdminCashInOut_SUBNEW(dfDBConn.Conn,  page, pageSize, Search, Find, sStartDate, sEndDate, site, IA_GROUP, IA_GROUP1)
	ELSEIf IA_LEVEL = "3" Then
		Call dfAccountSql.RetrieveLog_AdminCashInOut_SUBNEWs1(dfDBConn.Conn,  page, pageSize, Search, Find, sStartDate, sEndDate, site, IA_GROUP, IA_GROUP1, IA_GROUP2)
	ELSEIf IA_LEVEL = "4" Then
		Call dfAccountSql.RetrieveLog_AdminCashInOut_SUBNEWs2(dfDBConn.Conn,  page, pageSize, Search, Find, sStartDate, sEndDate, site, IA_GROUP, IA_GROUP1, IA_GROUP2, IA_GROUP3)
	ELSEIf IA_LEVEL = "5" Then
		Call dfAccountSql.RetrieveLog_AdminCashInOut_SUBNEWs3(dfDBConn.Conn,  page, pageSize, Search, Find, sStartDate, sEndDate, site, IA_GROUP, IA_GROUP1, IA_GROUP2, IA_GROUP3, IA_GROUP4)
	End If

	IF dfAccountSql.RsCount <> 0 Then
	    nTotalCnt = dfAccountSql.RsOne("TC")
	Else
	    nTotalCnt = 0
	End IF
		
    		
    '--------------------------------
	'   Page Navigation
	'--------------------------------
	Dim objPager
	Set objPager = New Pager
	
	objPager.RecordCount = nTotalCnt
	objPager.PageIndexVariableName = "page"
	objPager.NumericButtonFormatString = "{0}"
	objPager.PageButtonCount = 5
	objPager.PageSize = pageSize
	objPager.NumericButtonCssClass = "paging"
	objPager.SelectedNumericButtonCssClass = "paging_crnt"
	objPager.NavigateButtonCssClass = "paging_txt1"
	objPager.CurrentPageIndex = page
	objPager.NumericButtonDelimiter = "<span class=""paging_txt2"">|</span>"
	objPager.NavigationButtonDelimiter = "<span class=""paging_txt2"">|</span>"
	objPager.NavigationShortCut = false
%>


<html>
<head>
<title>머니사용로그</title>
  <script type="text/javascript" src="../includes/calendar1.js"></script>
  <script type="text/javascript" src="../includes/calendar2.js"></script>
<link rel="stylesheet" type="text/css" href="/SELLER/Css/Style.css">

<SCRIPT LANGUAGE="JavaScript">
	function go_delete(form)
	{
		var v_cnt = 0;
		var v_data = "";
		
		for( var i=0; i<form.elements.length; i++) 
		{
			var ele = form.elements[i];
			if( (ele.name=="SelUser") && (ele.checked) )
			{ 
				//if (v_cnt == 0)
				if (v_data.length==0)
					v_data = ele.value;
				else
					v_data = v_data + "," + ele.value; 
				v_cnt = v_cnt + 1; 
			} 
		}
			
		if (v_cnt == 0) 
		{ 
			alert("결제취소할 정보를 선택해 주세요."); 
			return;
		} 
		
		if (!confirm("정말 취소하시겠습니까?")) return;		
		form.action = "CashAccount_Cancel.asp?page=<%=PAGE%>";
		form.submit();
	}
</SCRIPT></head>

<body topmargin="0" marginheight="0">
<table  border="0" cellspacing="2" cellpadding="5" bgcolor="#000000" width="100%">
<tr>
    <td><b class="text07"> 정산관리&nbsp;&nbsp;▶ 총판 정산 정보</b></td>
</tr>
</table>    
<div style="height:40px;"><font color="red"><b>**적립률이 마이너스가 뜰경우 상위총판보다 프로테이지가 높은경우입니다</br>**0%는 상위총판과 동일한 프로테이지를 적용한 경우입니다</b></font></div>

<table border="0" cellpadding="0" cellspacing="0" align="center">
<form name="MainForm" method="get" action="Money_Addadmin.asp">
<tr><td>시작 :</td><td><img src="blank.gif" border="0" width="5" height="1"></td>
	<td>
	<input type="text" name="sStartDate" id="txtDate" value="<%=Left(sStartDate,10)%>" onclick="fnPopUpCalendar(txtDate,txtDate,'yyyy/mm/dd')" class='text_box1'></td>
	<td><img src="blank.gif" border="0" width="5" height="1"></td>
	<td><img src="blank.gif" border="0" width="5" height="1"></td><td>~</td><td><img src="blank.gif" border="0" width="5" height="1"></td>
	<td>종료 :</td><td><img src="blank.gif" border="0" width="5" height="1"></td>
	<td><input type="text" name="sEndDate" id="txtDate2" value="<%=Left(sEndDate,10)%>" onclick="fnPopUpCalendar2(txtDate2,txtDate2,'yyyy/mm/dd')" class='text_box1'></td>
	<td><img src="blank.gif" border="0" width="50" height="1"></td>
	<td><select name="Search" style="width:100px;font-size:9pt;bgcolo역:#F5E0E0;padding-left:10px" class="input">
		<option value="">---검색어---</option>
		<option value="IB_IDX" <%if Search = "IB_IDX" then Response.Write "selected"%>>베팅번호</option>
		<option value="LAC_ID" <%if Search = "LAC_ID" then Response.Write "selected"%>>아이디</option>		
		<option value="LAC_CONTENT" <%if Search = "LAC_CONTENT" then Response.Write "selected"%>>처리내역</option>
		<option value="LAC_SITE" <%if Search = "LAC_SITE" then Response.Write "selected"%>>사이트명</option></select></td>
	<td><img src="blank.gif" border="0" width="5" height="1"></td>
	<td><input type="text" name="Find" size="20" maxlength="30" value="<%=Find%>" class="input"></td>
	<td><img src="blank.gif" border="0" width="5" height="1"></td>
	<td><input type="submit" value="검 색"></td>
</tr></form></table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td><img src="blank.gif" border="0" width="1" height="10"></td></tr></table>

<table border="0"  cellspacing="1" cellpadding="2" bgcolor="#AAAAAA" width="100%">
<col width="40" />
<col width="100" />
<col width="60" />
<col width="60" />
<col width="60" />
<col width="60" />
<col width="150" />
<col width="40" />
<col width="70" />
<form name="frm" method="post">
<tr height="25" bgcolor="e7e7e7"> 
	<!-- <td align="center"><b>선택</b></td> -->
	<td align="center" ><b>No.</b></td>
	<td align="center" ><b>충전아이디</b></td>	
	<td align="center" ><b>충전/환전</b></td>	
	<td align="center" ><b>충전/환전금액</b></td>
	<td align="center" ><b>적립마일리지</b></td>
	<td align="center" ><b>적립률</b></td>
	<td align="center" ><b>내&nbsp;&nbsp;역</b></td>
	<td align="center" ><b>총판코드</b></td>
	<td align="center" ><b>날짜</b></td>
	
	</tr>

<%	IF dfAccountSql.RsCount = 0 THEN	%>
<tr bgcolor="#FFFFFF" height="25"><td align="center" colspan="8" height="35">현재 등록된 정보가 없습니다.</td></tr>

<%
	ELSE

	TotCash1 = 0
	TotCash2 = 0
	FOR i = 0 TO dfAccountSql.RsCount -1

		LAC_IDX		= dfAccountSql.Rs(i,"LAC_IDX")
		LAC_ID		= dfAccountSql.Rs(i,"LAC_ID")
		LAC_SITE		= dfAccountSql.Rs(i,"LAC_SITE")
		LAC_CASH	= dfAccountSql.Rs(i,"LAC_CASH")
		LAC_GCASH	= dfAccountSql.Rs(i,"LAC_GCASH")
		LAC_TYPE= dfAccountSql.Rs(i,"LAC_TYPE")
		LAC_CONTENT	= dfAccountSql.Rs(i,"LAC_CONTENT")
		IB_IDX	    = dfAccountSql.Rs(i,"IB_IDX")
		LAC_REGDATE	    = dfAccountSql.Rs(i,"LAC_REGDATE")

		
		TotCash1 = Cdbl(TotCash1) + Cdbl(LAC_CASH)	
		TotCash2 = Cdbl(TotCash2) + Cdbl(IB_IDX)	
		IF LAC_CASH > 0 Then
		    tdCashStyle = "style='color:blue'"
		    plus = "+"
		Else
		    tdCashStyle = "style='color:red'"
		    plus = ""
		End IF
		If IB_IDX = "0" Then
			charge = "<b><font color=black>적립</font></b>"
		ElseIf IB_IDX > "0" Then
			charge = "<b><font color=blue>충전</font></b>"
		ElseIf IB_IDX < "0" Then
			charge = "<b><font color=red>환전</font></b>"
		End If
		
		If (LAC_TYPE = 1 Or LAC_TYPE = 3) And LAC_CASH <> 0 THEN
%>

<tr bgcolor="#FFFFFF" ><td align="center"><%=LAC_IDX%></td>
	<td>&nbsp;<a href="/EPCenter/05_Account/Money_Addadmin.asp?sStartDate=<%=Left(sStartDate,10)%>&sEndDate=<%=Left(sEndDate,10)%>&Search=LAC_ID&Find=<%=LAC_ID%>"><%=LAC_ID%></a></td>	
	<td align="center"><%=charge%></td>
	<td align="right"><%=FORMATNUMBER(IB_IDX,0)%>원</td>
	<td align="right"><%=FORMATNUMBER(LAC_CASH,0)%>원</td>
<% If CDbl(LAC_GCASH) > 0 Then %>
	<td align="right" style="color:green;font-weight:bold"><%=FORMATNUMBER(LAC_GCASH,0)%>&nbsp;%</td>
<% Else %>
	<td align="right" style="color:red;font-weight:bold"><%=FORMATNUMBER(LAC_GCASH,0)%>&nbsp;%</td>
<% End If %>
	<td align="center"><a href="/EPCenter/05_Account/Money_Addadmin.asp?sStartDate=<%=Left(sStartDate,10)%>&sEndDate=<%=Left(sEndDate,10)%>&Search=LAC_CONTENT&Find=<%=replace(replace(replace(replace(replace(LAC_CONTENT, "<font color=red>", ""), "</font>", ""), "<font color=blue>", ""), "<b>", ""), "</b>", "")%>"><%=LAC_CONTENT%></a>&nbsp;</td>	

	<td align='center'><a href="/EPCenter/05_Account/Money_Addadmin.asp?sStartDate=<%=Left(sStartDate,10)%>&sEndDate=<%=Left(sEndDate,10)%>&Search=LAC_SITE&Find=<%=LAC_SITE%>"><%=LAC_SITE%></a></td>
	<td align="center"><%=dfStringUtil.GetFullDate(LAC_REGDATE)%></td>
	</td>
	</tr>

	<%  End IF
		Next %>

<tr bgcolor="#FFFFFF"><td colspan="3" align="center"><b>합 계</b></td>
	<td align="right"><b><%=FORMATNUMBER(TotCash2,0)%>&nbsp;원&nbsp;</b></td>
	<td align="right"><b><%=FORMATNUMBER(TotCash1,0)%>&nbsp;원&nbsp;</b></td>
	<td align="right">&nbsp;</td>
	<td colspan="4" align="center">&nbsp;</td></tr>

	<% END IF %></table><br clear="all">

<!-- paging Start -->
<%	IF nTotalCnt > 0 THEN	%>
<%= objPager.Render %>
<%	END IF	%>

</body>
</html>
